<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head', {title: "Change Sticker"}) %>
<body>
    <%- include('includes/header') %>
  <main class="content">
    <div style="display: flex; flex-flow: column; align-items: center;">
      <% if (isAuthenticated===true) { %>
      <h1>Edit Sticker</h2>
        <a href="/stickers">Sticker-list</a>
        <form action="/edited/<%= sticker.id %>" method="POST">
          <input type="text" name="name" placeholder="name" value="<%= sticker.name %>"/><br />
          <input type="text" name="id" placeholder="id" value="<%= sticker.id %>" /><br />
          <input type="number" name="priceInCents" placeholder="price in cents" required min="0" step="1" value="<%= sticker.priceInCents %>" /><br />
          <button type="submit">Save</button>
        </form>
        <% if (message) { %>
            <div class="feedback-bar">
                <p style="margin: auto;"><%= message %></p>
            </div>
        <% } %>
        <% } else { %>
          <form action="/edit/<%= sticker.id %>/auth" method="POST">
              <label for="pwd">Password:</label>
              <input name="pwd" placeholder="Enter Admin Password" id="pwd" type="password">
              <button type="submit">Log-in</button>
          </form>
          <% } %>
    </div>
  </main>
  <%- include('includes/footer') %>
</body>