<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: "Stickers! | Fwiendly" }) %>

    <body>
        <%- include('includes/header') %>
            <main class="content">
                <div class="product-page-wrapper">
                    <h1>Sample Product Page</h1>
                    <a href="/new">Create Sticker!</a>
                    <form action="/stickers/search/" method="GET">
                        <input name="q" placeholder="Search for stickers!" id="search" type="search">
                        <button type="submit">Search</button>
                    </form>
                    <div class="product-info-wrapper">
                        <ul>
                            <% if (stickers.length != 0) { %>
                                <% for( let i=0; i < stickers.length; i++ ) { %>
                                    <% const sticker=stickers[i]; %>
                                    <li>
                                        <% if(sticker.isInStock) { %>
                                            <a href="/stickers/<%= sticker.slug %>">
                                                <%= sticker.name %> | <%= sticker.slug %>: <%= readablePrice(sticker.priceInCents) %>
                                            </a>
                                        <% } else { %>
                                            <%= sticker.name %> [SOLD OUT]
                                        <% } %>
                                        <a href="/edit/<%= sticker.slug %>">
                                            edit
                                        </a>
                                    </li>
                                <% } %>
                            <% } else { %>
                                <li>
                                    <p>No sticker found :(</p>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </main>
            <%- include('includes/footer') %>
    </body>

</html>